
@media (min-width: 1200px) {

    .heading-page{ padding:0px 15px;}
    .slider-product-wrapper-lastest .flex-viewport{width: 100%;}
    .tp-caption.small_text.small_text_custom a{font-size:20px !important;text-transform:uppercase;}
    .nav-wrapper ul.flex-direction-nav li a, .nav-wrapper ul.direction-nav li a{top:40%;}
    .main-homepage-top .text-inner h2 a{letter-spacing: 10px;}
    /* Product-view */
    .product-view .product-shop ul.add-to-links li{float:left;}
    .product-view .product-shop ul.add-to-links li .v-centered-content .v-center{padding:0;}
    .product-view .product-shop ul.add-to-links li a.feature {margin:0;}
    /* Sidebar */

    ul.products-grid.products-itemgrid-2col { padding: 0 20px;}

}

@media (min-width: 992px) and (max-width: 1200px) {
}

/* 960px <= width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1200px) {

}

/* Design for a width of 960-1024 px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 940px <= width < 1170px */
@media (min-width: 940px) and (max-width: 1170px) {
    .header-container span.mt-cart-label { font-size: 80%}
    .header .logo img {vertical-align: inherit;}
    .header-container .header a { font-size: 85%;}
    .mtmenu-block-left, .mtmenu-block-center {padding: 10px 0 10px;}
    .header-content-right .top-seach input#search {width: 230px;}
    .header-content-right .top-seach { top: 90px; }
    .header-container .header .header-content .header-act .header-static strong { font-size: 90% ;}
    .header-container .header .header-content .header-act .header-static .header-static-text span { font-size: 80% ;}
    .mtmenu-block-bottom .right p {font-size: 86% ;line-height:31px ; }

    #mtnav li.level0 ul li.parent { background-position: 175px 17px ;}
    #mtnav li.level0 ul li.parent:hover { background-position: 175px -14px ;}

    #mtnav .dropdown ul.level0 li.parent { background-position: 155px 17px ; }
    #mtnav .dropdown ul.level0 li.parent:hover { background-position: 155px -14px ; }

    /* Home page */

    span.mt-cart-label-label{padding: 0 5px;}
    .mt-banner .mt-banner-act .banner .mask-banner h2{padding-top:5px;margin:0;}
    .mt-banner .mt-banner-act .banner p{ font-size: 95%;padding: 5px 20px 0;}
    .heading-page{ padding:0px 15px;}
    .header-container .header .header-top .header-top-right ul.links li a{padding: 0 10px 0 15px;}
    .header .form-language .sbHolder,.header .currency_top .sbHolder{padding: 0 19px 0 7px;}
    .header .sbToggle{right:0;}
    .header-container .header a{font-size:12px;}
    .header-container .header .header-top .header-top-left p.welcome-msg{padding: 0 0 0 5px;font-size: 12px;}

    /* footer */
    .footer-container .footer-bottom .section-space{ padding: 30px 0;}
    .block-subscribe .block-title strong span,.footer-container .footer-bottom .section-space .collapsible h3{font-size: 15px;}
    .mt-block-free{font-size: 20px;}
    .block-subscribe .block-title{padding-top:10px;}

    .footer-container .footer-top a {font-size: 90%;line-height: 20px;}
    .footer-container .footer-top .footer .box-content-top .icon-style-1 .iconbox-icon .fa {font-size: 132% ;}

    #mtnav li .shown-sub li div.shown-sub{width: 140px;}
    #mtnav li.m-dropdown .dropdown.sub-wrapper{max-width: 265px;width: 215px;}
    .mtmenu-block-bottom{margin-top:0px;}
    .banners-block{padding: 10px;}
    .footer-container .footer-top .box-connect h3{padding-left:0;}
    #mtnav li.level0.last {border-right: none ;}
    .footer-container .footer-copyright address { font-size: 80% ;}

    /* Home page*/
    .products-grid .alt-img{left: 5px;}


    /* Block-Cart */
    .block-cart .block-content .mini-products-list .item .product-details{padding-left:5px;}
    .block-cart .product-details .btn-edit{padding: 0 5px 0 0;}
    .cart .cart-collaterals .crosssell .product-image,
    .cart .cart-collaterals .crosssell .product-details{float: none;width: 100%;text-align: center;}
    .cart .cart-collaterals .crosssell .product-details .confix-produclist{margin-top: 5px;padding-left: 0;text-align: center;display: block;}

    /* Product-view */
    .left-product-view .nav-wrapper ul { float: left ;}

    /* footer */
    /* Box-up-sell */

    /* Block-related */

    /* Category */
    .category-products .item .actions .confix-produclist-category { padding-left: 0;}
    .product-view .product-shop .product-options dd select.datetime-picker{margin-bottom:5px;}
    .footer ul.paypan li{padding: 0 20px 10px 0;}
    .footer-copyright address,.footer a{font-size:12px;}
    .brand-slider .viewport ul.slides .item a{height: 65px;padding: 6px;}
    .item .price-box .price {font-size: 100%;}

    /* Category Sidebar*/
    ul.nav-accordion li ul li a{font-size:110%;}
    ul.nav-accordion ul ul li a{font-size:100%;}
    ul.nav-accordion ul ul ul li a{font-size:90%;}
    .block .block-title strong span{font-size:15px;}
    #mtnav a {font-size: 80% ;}

}

@media (min-width: 768px) and (max-width: 991px) {

    .header .form-language .sbHolder,.header .currency_top .sbHolder{padding: 0 20px 0 5px;}
    .sbToggle{right:0;}
    span.mt-cart-label-label{display:none;}

}

@media (min-width: 768px) and (max-width: 979px) {
    .about-us img { display: inline;}
    .products-itemgrid-3col .item {width: 31% ;}
    .header .logo img {
        vertical-align: inherit;
        max-width: 100%;
        display: block;
    }
    .mt-icon-ajaxcart a.mt-cart-label { top:  7px ; padding: 0 0 0 5px;}
    .mt-icon-ajaxcart a.mt-cart-label span.print {font-size: 90% ; }
    .mt-cart .icon-cart .fa-shopping-cart { margin: 0 5px; font-size: 120% ;}
    .price-slider .price-slider-handle.max { left: 101px !important; }

    #mtnav li.level0 .groups-wrapper ul li a,
    #mtnav li.level0 .dropdown .groups-wrapper ul.level1 li a,
    #mtnav .dropdown ul li a { background-position: 0 18px ;}
    #mtnav li.level0 .groups-wrapper ul li a:hover, #mtnav li.level0 .dropdown .groups-wrapper ul li a:hover, #mtnav .dropdown ul li a:hover { background-position: 0 -11px;}
    .cms-home-left .mt-revolution-slider {margin: 15px 0 0 ; }
    .main-top .category-products .item .product-item:hover .addtocart { right: 10px; }
    .product-name a {font-size: 85% ;}
    .select.pull-left {width: 100%;margin: 0 0 20px;}
    .product-view .mt-social-links .so-social-share { width: 24% ;}
    .collection-position01 .product-image img{width: 100%;}

    /* Header */
    .is-sticky .logo-sticky{width: 100px;}
    .header-content-right .top-seach input#search { width: 210px;}
    .header-container .header .header-top ul.links li a {font-size: 90% ; padding: 0 15px;}
    .heading-page{padding:0 15px;}
    .header .quick-access .top-link ul.links li a{font-size:90%;}
    .header .quick-access p.welcome-msg{font-size:90%;}
    .header .form-language .sbHolder,
    .header .currency_top .sbHolder{padding: 0 18px 0 6px;}
    .sbToggle{right: 0;}
    .header-container .header .header-top .header-top-left p.welcome-msg{font-size: 12px;padding: 0 0 0 5px;}
    .header-container .header .header-top .header-top-right ul.links li a,
    .header-container .header .header-top .form-language,
    .header-container .header .header-top .currency_top,
    .header-container .header .header-top .header-top-right ul.links li.first a{border:none;}
    span.mt-cart-label-label{display:none;}
    .rev_slider h3,.rev_slider h4{font-size:20px;}
    .tp-bullets{bottom: 0 !important;}
    .tp-caption.medium_text h4 {font-size: 25px !important;padding: 5px !important;}
    .header-top-right .col-sm-9{padding:0;}
    .header-container .header .header-content .header-act .mt-icon span { font-size: 85% ;}
    .header-container .header .header-content .header-act .header-static strong { font-size: 60% ;}
    .header-container .header .header-content .header-act .header-static .header-static-text span { font-size: 58% ;}
    .mt-icon-ajaxcart a.mt-cart-label span.mt-cart-label { font-size: 60% ;}
    #mtnav a { font-size: 75% ;}
    .megamenu .fa { margin-left: 5px}
    .mtmenu-block-bottom .right { padding: 10px;}
    .mtmenu-block-bottom .right h3 {font-size: 80%;line-height: 25px;}
    .mtmenu-block-bottom .right p {font-size: 60% ;line-height:19px ; }

    #mtnav li.level0 ul li.parent { background-position: 130px 14px ;}
    #mtnav li.level0 ul li.parent:hover { background-position: 130px -17px ;}

    #mtnav .dropdown ul.level0 li.parent { background-position: 120px 14px ; }
    #mtnav .dropdown ul.level0 li.parent:hover { background-position: 120px -17px ; }


    /* Block */
    .category-products.collection-position02 .product-image img {width: 100%;}
    .block-subscribe{padding: 60px 5px;}
    .main-homepage-top .text-inner h2 a{font-size: 20px;line-height: 20px;}
    .main-homepage-top .text-inner span{ border-top: 3px solid #ffffff;}

    /* footer */
    .block-subscribe .block-title strong span{font-size:14px;}
    .block-subscribe .block-content .input-box .validation-advice{font-size:12px;}
    .mt-block-free{font-size:20px;}
    .footer-container .footer-bottom .section-space{padding: 30px 0;}
    .footer-container .footer-bottom .section-space .collapsible h3{font-size: 15px;}
    .footer-container .footer-bottom .box-content-footer .box-content-top .icon-style-1 a span{margin:0;}
    .block-subscribe .block-title{padding-top:10px;}
    .footer .block-flickr-statick a{padding: 1px;}
    .footer-container .footer-top .footer .box-content-top {padding: 0 10px;}
    .footer-container .footer-top a { font-size: 85%;line-height: 20px;}
    .footer-container .footer-top .footer .box-content-top .icon-style-1 .iconbox-icon .fa {line-height:30px;font-size: 84%; }
    .footer-container .footer-bottom .section-space .info-class .mttron-icon { font-size: 100%; }
    .footer-container .footer-bottom .section-space .info-class p .fa-phone {font-size: 115% ;}
    .footer .block-subscribe {height: auto ; padding: 0 ;}
    .footer-container .footer-bottom .section-space .info-class { padding: 0;}
    /* Menu */
    #mtnav .sub-wrapper .mm-item-base{padding:5px;}
    #mtnav li.level0 ul li.groups a{font-size:90%;}
    #mtnav ul li ul.level1 li, #mtnav ul li ul.level2 li{ padding: 0px;}
    #mtnav li .shown-sub li div.shown-sub {top: 0;width: 155px;}
    #mtnav .mtmenu-block .nav-block .show-separators ul.links li.label {font-family: open sans;font-size: 100%;font-weight: normal;padding-right: 10px;}
    .mtmenu-block .nav-block h3{font-size:110%;}
    .mtmenu-block .nav-block p{font-size:80%;}
    .mtmenu-block .custom-block p {line-height: 20px; font-size: 11px;}
    #mtnav li.level0 ul li a, #mtnav li.level0 .groups-wrapper ul li a{font-size:80%;line-height: 24px;}
    .custom p.custom_category_menu_text{font-size:80%;}
    .mtmenu-block-right .custom .custom_category_link{ font-size: 12px !important;}
    #mtnav li.m-dropdown .dropdown.sub-wrapper{max-width: 265px;width: 180px;}
    #mtnav li.level0 ul li a,.mtmenu-block .custom-block p{font-size: 12px !important;}
    .mtmenu-block-bottom{margin-top:0px;}
    #mtnav li.level0 ul li.groups a, #mtnav li.level0 .groups-wrapper ul li a {font-size: 12px !important;}
    #mtnav li.level0 ul li a,#mtnav li.level0 ul li.groups a{padding:5px;}

    /* Home page */
    .nav-wrapper ul.flex-direction-nav li a, .nav-wrapper ul.direction-nav li a{top: 37%;}
    .footer-container .footer-top .box-connect h3{padding-left:0;}
    .footer-container .footer-top .box-connect .icon-style-1 a span{width: 35px;}
    .cms-index-index .main_bottom-full{padding: 0 0 35px;}
    /* Main top */
    .product-tabs li a {font-size: 90% ;}


    /* Sidebar */
    ul.nav-accordion li a{font-size:100%;}
    .block-layered-nav dt {font-size: 100%;padding: 7px 3px 0;}
    .block-layered-nav dd li{padding: 0 0 0 10px;}
    .block-cart .block-content .mini-products-list .item .product-details,.block-wishlist .item .product-details{padding-left:10px;}
    .block-cart .product-details .btn-edit{margin-bottom:10px;}
    .block .block-title{padding: 0 0 0 5px;}
    .block-layered-nav dt {font-size: 85%;padding: 7px 0 0;}
    .block-poll .block-subtitle,.block-poll li span label{font-size: 95%;}
    .block{ padding: 30px 10px;}
    .block .block-title strong span,
    .footer-container .footer-top .box-connect h3{font-size:90%;}
    ul.nav-accordion ul ul li a{font-size: 90%;margin-left:5px;}
    ul.nav-accordion ul ul ul li a{margin-left: 15px;}
    .block-wishlist .block-content li.item .product-details .btn-remove{width:100%;}
    ul.nav-accordion li ul li a{width:115px;}
    .cart .cart-collaterals .crosssell .product-image,
    .cart .cart-collaterals .crosssell .product-details{float: none;width: 100%;text-align: center;}
    .cart .cart-collaterals .crosssell .product-details .confix-produclist{margin-top: 5px;padding-left: 0;text-align: center;}
    /* Category */
    .block-layered-nav .currently ol li {background: url("img/bg-li-menu-parent.png") no-repeat scroll 0 23% rgba(0, 0, 0, 0);}
    .account-login .content p,ul.nav-accordion ul li a{font-size: 95%;}
    .category-products .products-grid .item .category-over .main-quickview {top: 15%; }
    .item .price-box .price{font-size: 100%;}

    .toolbar .sbHolder {margin: 0 2px;}
    .block { padding: 0;}
    /* Product-view */
    .mt-more-images .viewport ul li{ display: inline-block !important;text-align: center;}
    .mt-more-images .viewport ul li a{padding:0 !important;display: inline-block !important;text-align: center;}
    .product-view .product-shop .add-to-cart{margin-bottom: 10px;}

    /* Box-up-sell */
    .box-up-sell #mt-upsell-slide .itemslider-horizontal ul.products-grid .item .product-details h3.product-name{font-size:100%; padding-left: 0;}
    .box-up-sell .itemslider ul li.show-5-item .confix-produclist {padding-left: 0; padding-top: 5px;}
    .box-up-sell .itemslider ul li.show-5-item{height:386px !important;}
    .block-related .itemslider ul li.show-5-item .confix-produclist {padding-left: 0; padding-top: 5px;}
    /* Block-related */
    .block-related .itemslider ul li.show-5-item{height:410px !important;}
    .block-related .block-title strong span{font-size:120%;}
    .block-related .block-content .items-slider .product-details{padding-left:5px;}
    .block-related .block-content .items-slider .product-details h3.product-name{font-size:100%;}

    .product-view .product-shop .product-options dd select.datetime-picker{margin-bottom:5px;}
    .views-row .service-indent h3{font-size:15px;}
    /* footer */
    .footer-copyright .footer-block .box-content-footer{ float: left }
    .footer-container .footer-top .footer .footer-static .form-subscribe-header label { font-size: 70% ;}
    .subscribe button.button span {
        font-size: 80%;
        padding: 0 4px;
    }
    .footer ul.footer-album li{ padding: 0 6px 10px 0;}
    .footer ul.paypan li{padding:5px;}
    .footer-bottom address{text-align:left;line-height: 25px;}
    .footer-container .footer-bottom .section-space .collapsible .block-content .feature img{margin: 5px 20px 0 0;}

    .product-view .left-product {padding-right: 0;}

    .right-content .main-inner { position: relative ; z-index: 9 ; margin: 20px 0  0 ;}
    .cms-home-left .main-block .right-content .block_content_right_top_01 ,
    .cms-home-left .main-block .right-content .block_content_right_top_02,
    .cms-home-left .main-block .block_content_right_bottom { z-index: 9;}
}

@media(max-width:980px) {
    /*header*/
    .header-content-right .top-seach input#search {width: 170px;}
    .heading-page{padding:0 15px;}
    .header .quick-access .top-link ul.links li a{font-size:90%;}
    .header .quick-access p.welcome-msg{font-size:90%;}

    /* Menu */
    #mtnav .sub-wrapper .mm-item-base{padding:5px;}
    #mtnav li.level0 ul li.groups a{font-size:90%;}
    #mtnav ul li ul.level1 li, #mtnav ul li ul.level2 li{ padding: 0px;}
    #mtnav li .shown-sub li div.shown-sub {top: 0;width: 155px;}
    #mtnav .mtmenu-block .nav-block .show-separators ul.links li.label {font-family: open sans;font-size: 100%;font-weight: normal;padding-right: 10px;}
    #mtnav li.level0 .dropdown ul li a,
    #mtnav li.level0 .dropdown ul li.groups a { line-height: 38px; padding: 0 10px;}

    .mtmenu-block .nav-block h3{font-size:110%;}
    .mtmenu-block .nav-block p{font-size:80%;}
    .mtmenu-block .custom-block p {line-height: 20px; font-size: 11px;}
    #mtnav li.level0 ul li a, #mtnav li.level0 .groups-wrapper ul li a{font-size:80%;line-height: 37px;}
    .custom p.custom_category_menu_text{font-size:80%;}
    .mtmenu-block-right .custom .custom_category_link{ font-size: 12px !important;}
    #mtnav li.m-dropdown .dropdown.sub-wrapper{max-width: 265px;width: 180px;}
    #mtnav li.level0 ul li a,.mtmenu-block .custom-block p{font-size: 12px !important;}
    .mtmenu-block-bottom{margin-top:0px;}
    #mtnav li.level0 ul li.groups a, #mtnav li.level0 .groups-wrapper ul li a {font-size: 12px !important;}
    #mtnav li.level0 ul li a,#mtnav li.level0 ul li.groups a{padding:5px;}

    /* footer */
    .footer-container .footer-top {background-image: none ;}
    .footer-container .footer-top .footer .box-content-top {padding: 0 10px;}
    .footer-container .footer-top .footer .box-content-top .icon-style-1 .iconbox-icon .fa {line-height:30px;font-size: 84%; }
    .footer-container .footer-bottom .section-space .info-class .mttron-icon { font-size: 100%; }
    .footer-container .footer-bottom .section-space .info-class p .fa-phone {font-size: 115% ;}
    .footer .block-subscribe {height: auto ; padding: 0 ;}
    .footer-container .footer-bottom .section-space .info-class { padding: 0;}
    .footer-container .footer-top .footer .footer-static .form-subscribe-header label { font-size: 100% ;}
    .footer-copyright .footer-block .box-content-footer {float: left ;}
    .footer .block-subscribe .block-title {margin-right: 10px;}
    .cms-home .mt-banner-center.banner-bottom {margin: 8px 0 0;}

    .footer-container .footer-top .footer .footer-static .form-subscribe-header, .footer-container .footer-top-brands .footer .footer-static .form-subscribe-header {text-align: left ;}
}
/* Iphone 5 landscape */
@media(max-width:767px) {
    /*
    Slider Content
    ======================*/
    .slider-content {
        top: 40px;
        left: 40px;
    }
    .text02 {
        font-size: 14px;
    }
    .title02 {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .block-top {
        padding: 0 20px;
    }
    .main_slide p.title02 {
        margin-bottom: 12px;
    }
    .main_slide a {
        margin-top: 12px;
    }
    .btn-shopnow span {
        font-size: 12px;
        line-height: 30px;
        padding: 0 14px;
    }
    .block-top .btn-readmore {
        font-size: 11px;
        padding: 8px 12px;
    }
    .block-top .title3,
    .block-top .title1 {
        font-size: 15px;
    }
    .block-top .text1 {
        font-size: 14px;
        margin-top: 7px;
        margin-bottom: 25px;
    }
    .block-top .text3 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .block-top .block-top-inner {
        margin-top: 33px;
    }
    /*
    End Slider Content
    ======================*/
    #products-list .product-shop .f-fix {
        padding: 15px;
    }
    .product-shop .wrapper-info {
        padding: 15px;
    }

    .testimonial .content-testimonial:after,
    span.mt-cart-label { display: none ;}
    .cart .totals { z-index: 9; position: relative ;}
    .product-view .product-shop .product-add-to-links ul.add-to-links {margin: 0;}
    .product-view ul.more-views-direction-nav li a { margin: -20px 0 0;}
    .product-view .product-shop ul.add-to-links li {margin: 0 0 10px;}
    .product-view.product-quick-view .product-shop .add-to-cart .qty { width: auto ;}
    .product-view .mt-social-links .so-social-share {width: 100% ;padding: 5px 0;}
    .item .addtocart button.btn-cart {margin: 0;}

    .header .header-content-right .header-right-inner,
    .header-content-right .top-seach{float: none;margin: 0;display: inline-block;}
    #colorbox ,#cboxOverlay{display: none !important;}
    .header-container .header .header-top .header-top-right ul.links,.header-talet,
    .header-container .header .header-top .currency_top,
    .header-container .header .header-top .header-top-left .form-language,
    .header-container .header .header-top .header-top-left p.welcome-msg{display: inline-block;float: none;}
    .header-container .header ul.links li {float: none;display: inline-block;}
    .input-group-btn.category-filter{float: left;width: 110px;}
    .header .header-content-right .top-seach .dropdown-menu li a{text-align: left;}
    .header-content-right .top-seach input#search {width: 240px;}
    .header .header-content-right .mt_getcart{padding: 0;border:none;width:100%;}
    .header-top .header-top-right{padding:0;}
    .header .logo{display: inline-block !important;}
    .main-top .content-home-item a{margin: 10px 0;}
    .main-top .content-home-item a:hover {padding: 10px;}
    .main-top .content-home-item a img{margin:0 auto;}
    .banner-static .content-home-item a img{margin:10px auto;}
    .header-container .header .header-top .header-top-right ul.links li{display: inline-block;float: none;}

    .slider-product-wrapper .mt-preface { width: 100% ;}
    .header .header-content-right .mt_getcart {width: auto ; margin: 10px 0 ;}
    .nav-top .nav-top-inner, .is-sticky #mt-sticky-header{background-color: #fff;border-bottom: medium none;}
    .is-sticky #mt-sticky-header{ position: relative !important;right: auto;}
    .mt-maincart{float:none;position:static; display: inline-block;}
    .mt-ajax-container { width: 290px;}
    .compare-list .mt-ajax-container {width: 255px;}
    .mt-icon-ajaxcart a.mt-cart-label .print .price{color: #3b3b3b;}
    .block-top-compare .actions {clear: both;}
    .mt-icon-ajaxcart {text-align: center ;}
    .main-homepage-top a img{ margin: 0 0 20px;display: inline-block;width: 100%;}
    .main_brands-full .container {padding-bottom: 0;padding-top: 20px;}
    .main_brands-full .main img{height: 230px;}
    .main_brands-full .main img.img-responsive{height: auto;}
    .main_brands-full .main .owl-item a{display: inline-block;}
    .main-homepage-top .text-inner span{top: 54.7%;}

    /* Block Category */
    .breadcrumbs{text-align:left;}
    .slider-product-wrapper .products-grid .item{text-align:center;}
    .item .product-hover-box{margin: -21px 0 0 -43px;}

    .header-container .header .header-content .header-act .mt-icon {margin: 0; float: left; }
    .header-static-text  { display: inline-block ;}
    .header-content-right .top-seach .input-group-btn .dropdown-toggle .category-label{font-size: 90%;}

    /* footer*/
    .block-subscribe .block-title{float: none; margin: 0; padding: 10px 0;text-align:left;}
    .block-subscribe .block-content .input-box { float: none;text-align: left;}
    .footer .block-subscribe button.button{margin: 10px 0;}
    .mt-block-free{float:none;text-align:center;}
    span.mt-cart-label-label{display:none;}
    .footer-link ul{display:inline-block;}
    .footer-copyright address,
    .footer-copyright .store-switcher .select {float:none !important;text-align: center;display: inline-block;}
    .footer-container .footer-copyright address{padding:10px 0;text-align: center;width: 100%;}
    .block-content-statick{display:none;padding: 0 0 20px;}
    .about-us h4.title{text-align: left;font-size: 100%;}
    .block-tags{padding: 10px 0 0;}

    .header .header-content-right .form-search{width:280px;}
    .header .form-language .sbHolder .sbOptions{width: 100%;}
    .checkout-progress li{width: 100%;float:left;}
    .col2-set-cart .col-1,.col2-set-cart .col-2{width:100%;float:none;margin: 10px 0 0;}
    .slider-attribute-wrapper h3{text-align:center;}
    .slider-product-wrapper .nav-wrapper ul.flex-direction-nav li,.slider-attribute-wrapper .nav-wrapper ul.flex-direction-nav li{display: inline-block;float: none;}
    .widget .box-content{display: inline-block;float: none;}
    .widget .html-readmore {display: inline-block;float: none;text-align: center;}
    .heading-page { padding: 0 15px;}
    .cart .cart-collaterals .crosssell .product-image,
    .cart .cart-collaterals .crosssell .product-details{float: none;width: 100%;text-align: center;}
    .cart ul.checkout-types{float:none;}
    .cart .cart-collaterals .crosssell .product-details .confix-produclist{margin-top: 5px;padding-left: 0;text-align: center;display: block;}
    .cart .cart-collaterals .col-1,.cart .cart-collaterals .col-2{padding-left: 0;padding-right: 0px;margin-bottom: 20px;}
    .category-products #products-list .item{ padding-left: 10px;padding-right: 10px;}
    .footer-container .footer h3 {line-height: 30px;padding-bottom: 17px;}
    .footer-copyright address, .footer-copyright .store-switcher .select, .footer-copyright .block-icon {display: inline-block;float: none !important;text-align: center;width: 100%;}
    .footer .footer-link {padding: 10px 0;text-align: center;}
    .footer-container .footer-top .box-connect .icon-style-1 a span{ width: 33px;}

    .footer-container .footer-top .footer .box-content-footer:before ,
    .footer-container .footer-top .footer .box-content-footer:after { background-image: none ;}
    .my-account .col2-set .col-1 ,.my-account .col2-set .col-2{ width: 100% ; }

    .breadcrumbs {
        float: left;
        height: auto;
        text-align: left;
        width: 100%;
    }
    .category-products .product-image img {width: 100% ;}
    .cms-typography .grid12-3,.cms-typography .grid12-4 {width: 98% ; text-align: left ;}
    .cms-typography .std ol{padding: 0 0 0 2.5em;}
    .cms .feature{padding: 0 0 0 10px;}
    .cms ul.messages {margin: 0;}
    .page-banners .banner{margin-bottom: 10px;margin-top: 10px;}
    .block-contacts .contact-address-block {clear: both;float: none;width: 100%;}
    .block-contacts .address_block h3, .block-contacts .page-title h3{margin: 10px 0;}
    .box-account .box-head h2 {font-size: 100% ;}
    .spb_wrapper .img-responsive {display: inline ;}
    .product-tabs {
        height: auto ;
        width: 100% ;
    }
    .product-tabs li {
        border-right: none;
        border-bottom: 1px solid #e2e3e3;
        float: left;
        margin: 0;
        width: 100%;
    }
    .product-tabs li a {font-size: 80% ;}
    .cart #shopping-cart-table .button {
        display: block;
        float: none;
        margin: 0 auto 10px;
    }
    .left-product-view .nav-wrapper ul,
    .product-view .product-shop .availability{float: left ;}
    .product-view .product-img-box .more-views li a img { max-width: 85% ; }
    .product-view.product-quick-view .product-img-box .more-views li a img { max-width: 100% ; }
    .product-view .product-img-box .more-views .more-views-viewport { padding: 0 0 10px;}
    .footer-container .footer-top .nav-wrapper { background: none ;}
    .footer-container .footer-top .about {padding: 0 ;}
}

/* Tablet (Portrait) - design for a width of 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All desktop - design for a width of 768px and wider
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width */
@media only screen and (min-width: 768px) {
}

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {
    .mt-banner .mt-banner-act .banner-transform img{display:inline-block;}


}

/* width < 480px */
@media only screen and (max-width: 479px) {
    .header-container .header .header-top .header-top-left ul.links li{border:none;}
    .header-container .header .header-top .header-top-left ul.links li{ display: inline-block;float:none;}
    .menu-bar-btn .navbar-inverse .navbar-toggle {
        margin: 16px auto;
        width: 22px;
        height: 18px;
        float: none;
        border: none;
        border-radius: 0;
        cursor: pointer;
        padding: 0;
    }

    /*
    Slider
    ==========================*/
    .slider-content {
        top: 20px;
        left: 20px;
    }

    .text03 {
        display: none;
    }
    .main_slide a {
        margin-top: 5px;
    }
    .text02 {
        font-size: 12px;
    }
    .title02 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .block-top {
        padding: 0 15px;
    }
    .main_slide p.title02 {
        margin-bottom: 10px;
    }
    .main_slide a {
        margin-top: 10px;
    }
    .btn-shopnow span {
        font-size: 10px;
        line-height: 25px;
        padding: 0 12px;
    }
    .block-top .btn-readmore {
        font-size: 9px;
        padding: 7px 10px;
    }
    .block-top .title3,
    .block-top .title1 {
        font-size: 13px;
    }
    .block-top .block-top-inner {
        margin-top: 20px;
    }
    .block-top .text1 {
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 20px;
    }
    .block-top .text3 {
        font-size: 20px;
        margin-bottom: 4px;
    }

}


/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .header-container .header .header-top .header-top-left ul.links li{border:none;}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
    .header-container .header .header-top .header-top-left ul.links{float:none;display: inline-block;}
    .header-container .header .header-top .header-top-left ul.links li{border:none;}
    .header-container .header .header-top .header-top-left ul.links li{ display: inline-block;float:none;}
    .mt-maincart{float:none;position:static;}

    .top-compare .mt-maincompare {padding: 0 0 7px ;}
    .header .header-content-right .form-search{padding: 20px 0 45px; display: inline-block;float: none;}
    .mt-banner .mt-banner-act .banner-transform img{display:inline-block;}

}

/* 360px <= width < 640px */
@media only screen and (min-width: 360px) and (max-width: 640px) {

    .footer-copyright address,.footer-copyright .store-switcher .select ,.footer-copyright .block-icon{float:none !important;text-align: center;display: inline-block;}
    .footer-copyright .block-icon{padding:10px 0 0;}
    .footer ul.paypan li{padding: 0 5px 5px 0;}
    .footer-primary-container .footer-primary .section .section-space .collapsible h3,.footer-primary-container .footer-primary .section .section-space .block-subscribe .block-title strong span{height:73px;}
}
@media(max-width: 640px) {
}
/* width < 320px */
@media only screen and (max-width: 319px) {

}

/* Iphone 4 landscape */
@media (max-width: 480px){

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header .logo img {vertical-align: inherit;}

    /* Home page */
    /* header */
    .top-compare .mt-maincompare {padding: 0 0 7px ;}
    .header .quick-access p.welcome-msg{float:none;text-align:center;}
    .header .quick-access .top-link{ display: inline-block;float: none;}
    .header .quick-access .top-link ul.links li{ display: inline-block;padding: 0 7px;float: none;}
    .header-act .grid12-8{width:100%;}
    .form-language .pull-right,.currency .pull-right,.store-switcher .pull-right{float:none !important;}
    .footer .store-switcher{text-align:center !important;}
    .header .mt-top .store-switcher .sbHolder .sbOptions{ width: 287px;}
    .header-container .header .header-top .header-top-left ul.links{display: inline-block;float: none;}
    .header-container .header .header-top .header-top-left ul.links li{padding: 0 0 10px;}

    /* footer */
    .slider-attribute-wrapper .flex-viewport{padding: 0 0 30px;width: 80%;}

    /* Menu */

    .header-container .header .header-top{padding-bottom:10px;}

    /* Category */
    .category-products #products-list .item a.product-image,.category-products #products-list .item .product-shop{width: 98%;}
    .category-products #products-list .item .grid12-4{width: 98%;}
    /* Home page for mt_logo brands */
    .page-banners .grid1 {width:100%;}
    .page-banners .grid2{display:none;}


    /*  Checkout-cart-index */

    table#wishlist-table,table#shopping-cart-table, table#checkout-review-table, table#my-orders-table {
        border: 0 none;
        outline: medium none;
    }
    table#wishlist-table td,
    table#wishlist-table th table#product-review-table td,
    table#shopping-cart-table td,
    table#shopping-cart-table th,
    table#checkout-review-table td,
    table#checkout-review-table th,
    table#my-orders-table th,
    table#my-orders-table td {
        display: block;
        float: none;
        text-align: center;
    }
    .data-table th, .data-table td.last {
        border-bottom: 1px solid #DDDDDD !important;
    }
    .data-table tfoot {
        border-bottom: none;
    }
    .checkout-cart-index .col-main .page-title h1, .checkout-cart-index .col-main .page-title h2 {
        float: none;
    }
    .data-table thead.hidden-phone{display:none;}
    .cart ul.checkout-types{float: none;text-align:center;}
    .col2-set,.col2-set2 { float: none;width: 100%;margin-bottom: 10px;}
    .account-login .col2-set,.account-login .col2-set2,
    .checkout-onepage-index .col2-set .col-1,
    .checkout-onepage-index .col2-set .col-2	{ float: none;width: 100%;margin-bottom: 10px;}
    .multiple-checkout .col2-set .col-1,.multiple-checkout .col2-set .col-2 { float: none;width: 100%;margin-bottom: 10px;}
    .my-wishlist .buttons-set {text-align: center; padding: 20px 0 0;}
    .my-wishlist thead.hidden-phone{display:none;}

    /* Footer */
    .footer ul.links {display: inline-block;text-align: center;}
    .footer ul.links li {display: inline-block; padding: 0 6px 0 4px;float: none;}
    .footer address{text-align:center;font-size: 90%;padding:0 0 10px 0;}
    .footer-container .footer-copyright .block-icon{ float: none;padding: 10px;}
    .footer-copyright address{ float: none;line-height: 25px;font-size:12px;}
    .footer .section .section-space .col-xs-3{width:100%;}
    ul.paypan{margin-bottom:28px;display: table;}
    .footer-primary-container .footer-primary .section .section-space .block-subscribe .block-content .input-box{text-align:left;}
    .footer-primary-container .footer-primary .section .section-space .block-subscribe .block-content .input-box input{width:280px;}

    /* Product-view */
    .product-tabs{height:auto;margin:0 !important;}
    /* Box-up-sell */
    .box-up-sell #mt-upsell-slide .also{text-align:center;}
    .box-up-sell #mt-upsell-slide .nav-wrapper{float:none;display:inline-block;text-align:center;}
    .box-up-sell #mt-upsell-slide .nav-wrapper .flex-direction-nav{float:none;display:inline-block;}

    /* Block-related */
    .block-related .block-title{text-align:left ;}
    .block-related .block-title strong span{display:inline-block;}
    .block-related .nav-wrapper{float:none !important;display:inline-block;text-align:center;}
    .block-related .direction-nav, .box-up-sell .direction-nav{display:inline-block;float:none;}
    .block-related .flex-direction-nav{float:none;display:inline-block;}

    /* checkout-progress */
    .page .checkout-progress li {float: none;line-height: 30px;margin: 0 auto;width: 100%;}
    .multiple-checkout .title-buttons h1{float:none;text-align:center;font-size: 120%;}
    .multiple-checkout .title-buttons{text-align:center;}
    #multiship-addresses-table tbody tr td select{width:95px;}

    .header-container .header .header-top .language-switcher a { padding-right: 5px;  }
    .header-container .header .header-top .header-top-left p.welcome-msg { padding: 0;}

}

@media (max-width: 360px) {
    .header-content-right .top-seach .input-group-btn .dropdown-toggle {width: 123px;font-size: 67%;}
    ul.products-grid li.item {margin: 0 ;}
    .footer-container .footer-copyright .box-content-footer .iconbox-icon {
        margin-top: 10px;
    }
    .cart .cart-collaterals .col-2 {z-index: 9;}
}

/* IPHONE 4 + 5 Portrait */
@media only screen and (min-width: 240px) and (max-width: 320px) {
    .item .addtocart button.btn-cart { margin: 0;}

    /* Home page */
    .header .mt-top .form-language .sbHolder .sbOptions,.header .mt-top .currency .sbHolder .sbOptions{left: 50px;width: 230px;}
    .header .mt-top .store-switcher .sbHolder .sbOptions{left: -23px;width: 230px;}
    .tp-caption.medium_text h4 {font-size: 11px !important;}
    .navbar-toggle{padding: 5px 20px; float: none;}

    ul.products-grid li.item {margin: 0 ;}

    /* Category */
    .toolbar .pages{ clear: both;display: block;padding-top: 10px;}
    .category-products #products-list .item a.product-image,.category-products #products-list .item .product-shop{width: 98%;}
    .category-products #products-list .item .grid12-4{width: 98%;}
    .tabs-collection .widget-tabs.nav.nav-tabs {left: 0;top: 40px;z-index: 9;}
    .tabs-collection .widget-tabs.nav.nav-tabs li a{margin: 0 5px;font-size: 90%;}

    /*  Checkout-cart-index */
    .data-table thead.hidden-phone{display:none;}
    .my-wishlist .buttons-set button.button {float: none;margin-bottom: 5px;}
    .my-wishlist thead.hidden-phone{display:none;}

    /* Product-view */
    .product-shop .add-to-cart button.btn-cart{margin-left: 0;}
    .product-view .product-essential-top{padding:3px;}
    .product-view .product-shop table.grouped-items-table .price-box .regular-price .price,
    .product-view .product-shop .grouped-items-table .price-box .special-price,
    .product-view .product-shop .grouped-items-table .price-box .special-price .price{font-size:120%;}
    .toolbar .toolbar-top .pager .amount{ float: none;text-align: center;}
    .toolbar .toolbar-top .pager .limiter{padding:10px;text-align:center;float:none;}
    .mt-more-images .viewport ul li a{padding:0 !important;}
    .box-reviews .data-table thead th{padding:5px;}
    .box-reviews .data-table thead th span.nobr{font-size:11px;}
    .product-view .product-essential .product-shop .grouped-items-table th {float: left !important;text-align: center;width: 100% !important;}
    table#super-product-table td {display: block;float: none;padding: 5px;text-align: center;}
    .product-view .product-shop .grouped-items-table .price-box ,
    .product-view .product-shop .grouped-items-table .price-box .regular-price,
    .product-view .product-shop .grouped-items-table .price-box .special-price{float:none;}

    /* Box-up-sell */

    /* Block-related */
    .block-related .block-title strong span{font-size:120%;}
    .product-view .block.block-related .owl-controls .owl-buttons {
        top: -123px;
    }

    /* Crosssell */
    .cart .cart-collaterals .crosssell li.item{text-align:center;}
    .cart .cart-collaterals .crosssell .product-image{display: inline-block;float: none;}
    .cart .cart-collaterals .crosssell .product-details{float: none;padding-left:0px; text-align: center;width: 100%;}

    /* checkout-progress */
    .page .checkout-progress li {float: none;line-height: 30px;margin: 0 auto;width: 100%;}
    .multiple-checkout .title-buttons h1{float:none;text-align:center;font-size: 120%;}
    .multiple-checkout .title-buttons{text-align:center;}
    #multiship-addresses-table tbody tr td select{width:100%;}


    .main-top .category-products .item .product-item:hover .addtocart { right: 47px;}
    .product-tabs-content-inner .owl-carousel  {padding: 10px 0 ;}
    /* footer */
    .about-us .progress .progress-bar span.progress-bar40{right: -50px;}
    .footer address{padding: 10px 0;}
}


@media (max-width: 1199px) {
    .item .product-item {
        min-height: 340px;
    }
    .slider-content {
        top: 30px;
        left: 30px;
    }
    .header-container .mt-icon-ajaxcart a.mt-cart-label {
        display: none;
    }
    .block-bottom .block > div > div > div {
        border-left: 0;
        margin-bottom: 30px;
    }

    .block-bottom .block > div > div > div.clearfix {
        margin: 0;
        width: 100%;
    }
    .footer-container .social-footer ul li {
        margin-right: 2px;
    }
    .footer-container .social-footer {
        margin-top: 30px;
    }
    .footer-container .footer-top .footer-static p {
        font-size: 12px;
    }
    .footer-container .footer-top .footer h3 {
        font-size: 15px;
    }
    .footer-container .footer-top .footer .footer-static .form-subscribe-header label {
        font-size: 13px;
    }
}
@media (max-width: 991px) {
    .main_slide_left .mt-main-menu-vertical div.shown-sub, .col-left .mt-main-menu-vertical div.shown-sub {
        width: 450px!important;
    }
    .block-vertial-top {
        width: 450px!important;
        height: 142px!important;
    }
    .mt-main-menu-vertical li.level0 ul li.level1 {
        width: 142px;
    }
    .block-vertial-top .title {
        font-size: 18px;
        padding: 20px 0 0 0;
    }
    .block-vertial-top .text {
        font-size: 12px;
        margin: 10px 0;
    }
    .mt-main-menu-vertical li.level0 ul li.nav-1-1:before,
    .mt-main-menu-vertical li.level0 ul li.nav-1-2:before,
    .mt-main-menu-vertical li.level0 ul li.nav-1-3:before,
    .mt-main-menu-vertical li.level0 ul li.nav-1-4:before{
        height: 65px;
        margin-bottom: 12px;
    }
    .header-dropdow {
        display: none;
    }
    .vertical-bottom a {
        width: 142px;
    }
    .top-bar .currency-topbar .currency-sym,
    .top-bar .acc-topbar .acc-btn {
        padding: 0;
    }
    .top-bar > div i {
        margin: 0 15px;
    }
    .search-dropdown {
        width: 40%;
    }
    .search-select {
        width: auto;
    }
    .top-bar .checkout-topbar a, .top-bar .login-topbar a {
        padding: 0;
    }
    .top-bar > div .fa-caret-down, .top-bar > div span.hidden-sm {
        display: none !important;
    }
}
@media (min-width: 768px) {

}
@media (max-width: 767px) {
    .footer-container .footer-top {
        padding: 50px 0;
    }
    .item .top-actions-inner .table-reviews {
        min-height: 0;
    }
    .item .price-box .price {
        font-size: 15px;
    }
    .item .price-box .old-price .price {
        font-size: 13px;
    }
    .product-meta.product-shop h3.product-name a {
        font-size: 15px;
        line-height: 18px;
    }
    .product-meta.product-shop h3.product-name {
        padding: 8px 0 3px;
    }
    .table .old-price {
        line-height: 18px;
    }
    .table .price-box {
        padding: 3px 0 6px;
    }
    .hide-xs {
        display: none;
    }
    .product-item .product-meta {
        margin-bottom: 0;
    }
    .information-logo {
        margin-bottom: 25px;
    }

    .header .logo-home {
        text-align: center;
        margin-bottom: 20px;
    }
    .header-search-right {
        margin: 0;
    }
    .testimonial .content-testimonial {
        width: 100%;
    }
    .testimonial .avatar-testimoniter {
        width: 100%;
        margin-bottom: 25px;
    }
    .social-footer {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .tabs-collection .widget-tabs.nav.nav-tabs {
        top: 45px;
        right: 0;
        width: 100%;
    }
    .tabs-collection .widget-tabs.nav.nav-tabs li {
        float: left;
    }
    .tabs-collection .widget-tabs.nav.nav-tabs li a {
        display: block;
        width: 30px;
        height: 20px;
    }
    .tabs-collection .widget-tabs.nav.nav-tabs span {
        display: none;
    }
    .block-middle {
        padding: 35px 65px 0;
    }
    .block-middle .title {
        font-size: 18px;
    }
    .header-search-right .top-seach {
    }
    .header-container .mt_getcart .mt-maincompare .second_primary_color_bg, .header-container .mt-icon-ajaxcart .icon-cart {
        height: 36px;
        width: 36px;
        line-height: 36px;
        margin: 7px 0;
    }
    .top-compare .mt-maincompare span.mt-icon-compareajax .fa {
        line-height: 36px;
    }
}
@media (max-width: 479px) {
    .language-topbar .lang-list {
        left: auto;
        right: 0;
    }

    .testimonial .content-testimonial {
        width: 100%;
    }
    .block-bottom .block > div > div > div {
        width: 100%;
    }
    .block-middle {
        padding: 35px 35px 0;
    }
    .search-select {
        padding-left: 5px;
    }
    .toolbar .toolbar-top .sorter .view-mode, .toolbar .toolbar-top .limiter {
        padding: 0 2px;
    }
    .toolbar .sbHolder {
        min-width: 104px;
        max-width: 105px;
        margin: 0 2px;
    }
    .toolbar .toolbar-top .sorter .sort-by a.set {
        padding: 0 5px;
    }
}
